<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Pollster</title>
  <meta name="description" content="A vote-casting widget">
  <meta name="author" content="Josh Bivens">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="dist/css/normalize.css">
  <link rel="stylesheet" href="dist/css/skeleton.css">
  <link rel="stylesheet" href="dist/css/styles.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="dist/images/favicon.png">

  <!-- CDN
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://cdn.firebase.com/js/client/2.4.0/firebase.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js"></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container" id="app">
    <div class="row">
      <div class="12 columns">

        <!-- Loader
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <div id="loader">
          <div></div>
          <div></div>
          <div></div>
        </div>

        <!-- Constructor Panel
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <div class="panel">
          <h4>Pollster</h4>
          <form>
            <p>Your Question</p>
            <input type="text" v-model="poll.title">
            <p>Options</p>
            <div id="options">
              <input type="text" v-model="poll.options.text">
              <input type="text" v-model="poll.options.text">
            </div>
            <button id="add" @click.prevent="addOption">Add Option</button>
            <button type="submit">Create</button>
          </form>
        </div>

        <!-- Radio Panel
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <div class="panel">
          <h4>Pollster</h4>
          <p>{{ poll.title }}</p>
          <div v-for="option in poll.options">
            <input type="radio" id="{{ option.id }}" name="option">
            <label for="{{ option.id }}">{{ option.text }}</label>
          </div>
          <button type="submit">Vote</button>
        </div>

        <!-- End Primary Page Layout
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      </div>
    </div>
  </div>

  <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="dist/js/poll.js"></script>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>

<!-- REFERENCE

<div class="panel" id="create-panel">
  <h4>Pollster</h4>
  <form>
    <p>Your Question</p>
    <input type="text" id="title">
    <p>Options</p>
    <div id="options">
      <input type="text" class="option" name="opt_1">
      <input type="text" class="option" name="opt_2">
    </div>
    <input type="button" id="add" value="Add Option"></br>
    <button type="submit" id="create">Submit</button>
  </form>
</div>


<div class="panel" id="radio-panel">
  <h4>Pollster</h4>
  <p id="title-area"></p>
  <form id="radio-form">
    <div id="radio-list"></div>
    <button type="submit" id="vote">Vote</button>
  </form>
</div>


<div class="panel" id="response-panel">
  <h4>Pollster</h4>
  <p>What's your preferred CSS Library?</p>
  <div>
    <div class="response">
      <p>Skeleton (42 votes)</p>
      <div class="bar-bg">
        <div class="bar"></div>
      </div>
    </div>
    <div class="response">
      <p>Material (33 votes)</p>
      <div class="bar-bg">
        <div class="bar"></div>
      </div>
    </div>
    <div class="response">
      <p>Pure (50 votes)</p>
      <div class="bar-bg">
        <div class="bar"></div>
      </div>
    </div>
  </div>
</div>



-->
